body, html {
 margin: 0;
 padding: 0;
 height: 100%;
}

.content {
 min-height: 80vh;
 padding: 20px;
}

footer {
 background-color: #007BFF;
 color: white;
 text-align: center;
 padding: 20px 0;
 position: relative;
 bottom: 0;
 width: 100%;

}

footer a {
 color: #FFD700;
 text-decoration: none;
}

img {
    height: 40px;
}
